body {
    background: #f9fcff;
}

.login {
    position: absolute;
    top: 35%;
    left: 45%;
}

.pd5 {
    padding: 5px;
}

.pd10 {
    padding: 10px;
}

.pd_top10 {
    padding-top: 10px;
}

.pd_right5 {
    padding-right: 5px;
}

.pd_bottom5 {
    padding-bottom: 5px;
}

.font15 {
    font-size: 15px;
}

.font20 {
    font-size: 20px;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.icon {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.font_bold {
    font-weight: bold;
}
