.login .login_input {
    padding: 5px 5px 0px 5px;
}

.sign_div {
    text-align: end;
    padding-right: 5px;
}

.sign_div .signIn {
    cursor: pointer;
}

.sign_div .signIn:hover {
    color: aquamarine;
}
