.login .ui.header {
    padding: 10px;
    text-align: center;
}

.top.header {
    position: fixed;
    width: 85%;
    height: 45px;
    padding: 1%;
    background: #88c2f5;
    text-align: center;
    top: 0px;
}

.top.header .user {
    float: right;
}
