.ui.container {
    width: 85%;
}

.center.aligned {
    /*text-align: center;*/
}

.sideBar {
    width: 20rem;
    height: 100vh;
    padding-top: 45px;
    background-color: #f1f3f5;
    float: left;
}

.sideBar .boardList {
    /*background-color: red;*/
    height: 90px;
    /*padding: 30px 30px 0px 34px;*/
    padding: 10px;
    font-size: 20px;
}

.sideBar .boardList .list {
    height: 100%;
    line-height: 70px;
    vertical-align: middle;
    padding-left: 20px;
    background-color: #e9ecef;
}

.sideBar .boardList:hover {
    background-color: #e2e2e2;
}

.sideBar .create {
    height: 90px;
    padding: 30px 10px 0px 10px;
    font-size: 20px;
}

.sideBar .create:hover {
    background-color: #e2e2e2;
}

.footer {
    position: fixed;
    width: 85%;
    height: 30px;
    bottom: 0;
    background-color: #74c0fc;
}
