.board {
  //height: 830px;
  padding-top: 43px;
  padding-bottom: 30px;

  .leftBar {
    width: 20%;
    //height: 100%;
    float: left;
    background-color: cadetblue;
  }

  .middle.content {
    width: 60%;
    //height: 100%;
    float: left;
    padding: 10px;
    background-color: beige;

    .createItem {
      //height: 150px;
      padding: 5px;
      margin-bottom: 30px;
      background-color: aquamarine;

      .editableDiv {
        height: 100px;
        overflow-y: auto;
        //border: 1px solid black;
      }

      // dive contentEditable placeholder
      [contentEditable=true]:empty:not(:focus):before{
        content:attr(data-ph)
      }

      .save {
        text-align: right;

        Button {
          width: 80px;
        }
      }

      // file upload button
      .fileBox label {
        display: inline-block;
        padding: .5em .75em;
        color: #999;
        float: left;
        font-size: inherit;
        line-height: normal;
        vertical-align: middle;
        background-color: #fdfdfd;
        cursor: pointer;
        border: 1px solid #ebebeb;
        border-bottom-color: #e2e2e2;
        border-radius: .25em;
      }
      .fileBox input[type="file"] {
        /* 파일 필드 숨기기 */
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip:rect(0,0,0,0);
        border: 0;
      }
      // file upload button
    }

    // createItem min
    .min {
      height: 150px;
    }

    // createItem max
    .max {
      height: 300px;
    }

    .itemList {
      height: 100%;
      padding: 5px;

      .ui.comments {
        max-width: 100%;
        margin-bottom: 3em;

        .option {
          float: right;
        }

        .modify_textarea {
          max-width: 100%;
          min-width: 100%;
          min-height: 6vh;
          max-height: 6vh;
        }

        .reply_textarea {
          max-width: 100%;
          min-width: 100%;
          min-height: 4vh;
          max-height: 4vh;
        }

        .ui.comments {
          padding: unset;
        }

        .fileImage {
          height: 220px;
          line-height: 220px;

          img {
            max-width: 200px;
            max-height: 200px;
            vertical-align: middle;
            padding: 5px;
          }
        }

        .float_left {
          float: left;
        }

      }
    }


  }
  .rightBar {
    width: 20%;
    //height: 100%;
    float: left;
    background-color: darkgrey;
  }
}

