.dimmer {
  width: 2000px;
  height: 2000px;
  background-color: rgba(0, 0, 0, 0.5);
}

.createModal {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 45%;
  left: 45%;
  background-color: #fff;

  .header {
    padding: 10px;
    background: none;
  }

  .content {
    padding: 10px;

    .input {
      width: 100%;
    }
  }

  .footer {
    padding: 10px;
    text-align: right;
  }
}
