.sideBar {
  width: 25%;
  height: 100vh;
  background-color: aquamarine;
  //float: left;

  .boardList {
    background-color: red;
    height: 90px;
    padding: 30px 30px 0px 34px;
    font-size: 20px;
  }

  .create {
    height: 90px;
    padding: 30px 30px 0px 34px;
    font-size: 20px;
  }
}

